/* Geral */
* {
  font-family: 'Eina 03', sans-serif;
  text-decoration: none;
  background-color: rgb(5, 7, 24);
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Eina 03';
  src: url('Fonts/Eina03-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

a, h1, h2, h3{
  color: white;
}

#h1Index{
  font-size: 45px;
}

.PLIndex{
  margin-left: 6%;
}

/* Header */
#nav {
  margin-bottom: 10%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.Menu {
  justify-content: center;
  width: auto;
  display: flex;
}

.Menu li {
  margin-right: 20%;
  display: inline-block;
}

.Menu li a{
  font-size: 20px;
  color: rgb(166, 169, 184);
}

.Menu li:last-child {
  margin-right: 0;
}

.logo {
  display: inline-flex;
  align-items: center;
  font-size: 30px;
  line-height: 1;
}

.logo a {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.usuario {
  font-size: 20px;
  font-weight: 600;
}

.logo img {
  width: 50px;
  vertical-align: middle;
  margin-right: 20%;
}

#aLogo{
  margin-right: 12%;
}

/* body */
body {
  margin: 2% 6% 0 6%;
}